<div class="container" ng-controller="FoodController">
  <div class="row">
    <div class="col-xs-12">
      <p style="padding: 20px;"></p>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{active: isSelected(1)}">
          <a href="" ng-click=" select(1)" aria-controls="all menu" role="tab">All</a></li>
        <li role="presentation" ng-class="{active: isSelected(2)}">
          <a href="" ng-click=" select(2)" aria-controls="appetizers" role="tab">Appetizers</a></li>
        <li role="presentation" ng-class="{active: isSelected(3)}">
          <a href="" ng-click=" select(3)" aria-controls="mains" role="tab">Mains</a></li>
        <li role="presentation" ng-class="{active: isSelected(4)}">
          <a href="" ng-click=" select(4)" aria-controls="desserts" role="tab">Desserts</a></li>
      </ul>
      <div class="tab-content tab-pane fade in active">
        <ul class="media-list">
          <li class="media" ng-repeat="food in  foods  | filter:  filtText">
            <div class="media-left media-middle">
                <img class="foods media-object img-thumbnail" ng-src={{food.image}} alt="Foods">
            </div>
            <div class="media-body">
              <h2 class="media-heading">{{food.name}}</h2>
              <p>{{food.description}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<p style="padding:20px;"></p>